.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logoImg {
  height: 45px;
  border-radius: 50px;
}
/* body{
  color: #282c34;
} */
#about{
  border-radius:6px;
  background-color: gray;
  background-image: url(https://wallpapers.com/images/hd/animated-space-otq6xwc2a83cj928.jpg);
  color: white;
}
.cards{
  float: left;
  
}
#cardBorder{
  background-color: grey;
  border-color: #282c34;
}

#cards-align{
  justify-items: center;
  align-items: center;
  }

  /* .timeline {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 50px 0;
  }
  
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline li {
    margin-bottom: 50px;
    position: relative;
  }
  
  .timeline li:before,
  .timeline li:after {
    content: "";
    display: table;
  }
  
  .timeline li:after {
    clear: both;
  }
  
  .timeline li .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #444;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100;
  }
  
  .timeline li .timeline-panel {
    width: 46%;
    float: right;
    padding: 20px;
    position: relative;
    text-align: left;
  } */
  

  .timeline {
    position: relative;
    padding: 0 20px;
    margin: 50px 0;
  }
  
  .launch {
    position: relative;
    margin: 50px 0;
    width: 100%;
  }
  
  .launch:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 22px;
    width: 4px;
    height: 100%;
    background-color: #ccc;
  }
  
  .bullet {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #ccc;
    z-index: 1;
  }
  
  .success .bullet {
    background-color: green;
    border-color: green;
  }
  
  .fail .bullet {
    background-color: red;
    border-color: red;
  }
  
  .content {
    margin-left: 50px;
  }
  
  #timelineH3 {
    margin-top: 0;
    text-align: left;
  }
  
  #timelineP {
    margin: 5px 0;
    text-align: left;
  }

  #navigateCard {
    margin-top: 10px;
    background-color: #212529;
    border: 3px solid #7292B9;
  }

  #navigateCard:hover {
    background-color: #7292B9;
    border: 3px solid white;
  }

  #compare1{
    background-color: #7292B9;
    color: white;
    padding: 4px;
    
  }

  #compareDev {
    border: 3px solid #7292B9;
    border-radius: 8px;
    padding: 10px;
  }

  #informationDashboard {
    margin-top: 10px;
    background-color: #212529;
    border: 3px solid #7292B9;
    padding: 10px;
  }

  /* Rocket animation cover */
 
  